<footer class="footer">
    <p>
        <span>SPACEX &copy; 2022</span>
        <a href="" class="to-uppercase social">twitter</a>
        <a href="" class="to-uppercase social">youtube</a>
        <a href="" class="to-uppercase social">instagram</a>
        <a href="" class="to-uppercase social">flickr</a>
        <a href="" class="to-uppercase social">linkedin</a>
        <a href="" class="to-uppercase social">privecy policy</a>
    </p>
</footer>

<script src="index.js"></script>

</body>
</html>