
<div class="section">
    <div class="background" style="background-image: url( <%= shipName%> );">
    <div class="container">
        <div class="section-inner">
            <h4 class="is-anima to-uppercase"> <%= contentH4 %>  </h4>
            <h2 class="is-anima to-uppercase"> <%= contentH2 %>  </h2>
            <a class="" href="">
                <button class="is-anima btn hover-animation to-uppercase"> <%= contentBtn %> </button>
            </a>
        </div>
    </div>
</div>
</div>